In [5]:
import pandas as pd
import xlrd
import openpyxl
from openpyxl import load_workbook
f = pd.ExcelFile('C:\\Users\\admin\\Downloads\\SITIP19-ACE-Python-FinalProject1-Workbook (1).xlsx')
res = len(f.sheet_names)
df1 = f.parse('UserDetails')
df1.drop(['Unnamed: 0'],axis=1,inplace=True)
df1

,Unnamed: 0.1,Sr. No.,User Id,A/c No.,Full Name,User Email,A/c Balance,A/c Status
0,0,1,19091022001,2019091022IND0345,Shubham Vartak,shubhamvartak23@gmail.com,10000,Active
1,1,2,19091022002,2019091022IND0334,Sagar Sonawane,sonawanesagae2106@gmail.com,15000,Active
2,2,3,19091022003,2019091022IND1111,Advait Tare,advaitcr7@gmail.com,1004,Active
3,3,4,19091022004,2019091022IND1213,Mad boy rakesh,xyz@123.com,25000,Active
4,4,5,19091022005,2019091022IND1435,KL Rahul,xyz@123.com,30000,Active
5,5,6,19091022006,2019091022IND2342,Atharva Sapre,atharva2sapre@gmail.com,37400,Active
6,6,7,19091022007,2019091022IND5432,Cristiano Ronaldo,badebhaiyya@goat.com,40000,Active
7,7,8,19091022008,2019091022IND1265,Tushar Laddha,laddhatusshar@gmail.com,45000,Active
8,8,9,19091022009,2019091022IND6435,Ritviz,humtohuddgaye@bacardi.com,50000,Active
9,9,10,19091022010,2019091022IND0234,Chester Bennington,lp@123.com,55000,Active

In [8]:
def block(index):
    df1.loc[index,'A/c Status']='Blocked'
def account():
    for j in range(1,4):
        name=input("Enter Your Name:")
        for i in range(0,10):
            if(name==df1['Full Name'][i]):
                print("Welcome %s"%(name))
                flag=1
                index=i
                return(index)
                break
        else:
            flag=0
            print("Name does not exist. Try again!")
            print("You have ",3-j," tries left")
        if j == 3:
            print("Exceeded the number of attempts! Sorry!")
        if flag==1:
            break

def user():
    for j in range(1,4):
        userid=int(input("Enter Your UserID "))
        for i in range(0,10):
            if(userid==df1['User Id'][i]):
                print("Welcome User")
                flag1=1
                index=i
                return(index)
                break
        else:
            flag1=0
            print("Invalid User ID Try again")
            print("You have ",3-j," tries left")
        if j == 3:
            print("You have exhausted your attempts! Exiting the program ")
        if flag1==1:
            break
def acc_no(index,flag2):
    for j in range(1,4):
        if flag2==1:
            acc=input("Enter the Account Number ")
            if acc == df1.loc[index,"A/c No."]:
                print("Valid Account Number")
                break
            else:
                print("Invalid Entry. Try Again !")
                print("You have ",3-j," tries left")
        if j==3:
            print("You have exhausted your attempts! Your Account will be blocked")
            block(index)
            
while(1):
    choice=int(input("How do you want to access your Account \n 1.Full Name \n 2.UserID \n"))
    if choice==1:
        index=account()
        flag2=1
        acc_no(index,flag2)
        print("\nWelcome ",df1.loc[index,'Full Name'])
        break
    elif choice ==2:
        index=user()
        flag2=1
        acc_no(index,flag2)
        print("\nWelcome ",df1.loc[index,'Full Name'])
        break
    else:
        flag2=0
        print("Invalid Choice")

How do you want to access your Account
 1.Full Name
 2.UserID
1
Enter Your Name:Advait Tare
Welcome Advait Tare
Enter the Account Number 2019091022IND1111
Valid Account Number

Welcome  Advait Tare

# STAGE 2
OTP generation and OTP mailing

In [9]:
from random import randint
otp=randint(1000, 9999)
otp1=str(otp)


z=df1['User Email'][index]


import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

fromaddr="pythonspam1@gmail.com"
toaddr=''.join(z)

msg=MIMEMultipart()

msg['From'] = fromaddr
msg['To'] = toaddr
msg['Subject'] = "Your Transaction OTP"


body="Your OTP for your transaction is "+otp1
msg.attach(MIMEText(body, 'plain'))


server=smtplib.SMTP('smtp.gmail.com',587)
server.starttls()                         #Transport Layer Security 
server.login("pythonspam1@gmail.com","advaitarepy")
text=msg.as_string()
server.sendmail(fromaddr,toaddr,text)
server.quit()

(221, b'2.0.0 closing connection p13sm31154879pjb.30 - gsmtp')

# Take OTP as input from user

In [10]:
for i in range(1,4):
    otp_in=int(input("Please enter your OTP from your Email "))
    if otp_in == otp:
        print("Correct OTP")
        break
    else:
        print("Invalid OTP. Please try again !! ")
        print("You have ",3-i," tries left")
    if i == 3:
        print("You have exhausted your attempts! Your Account will be blocked")
        block(index)

Please enter your OTP from your Email 6884
Correct OTP

# STAGE 3
Choice of Transaction

In [11]:
for i in range(1,4):
    v=input("What transaction do you want to perform \n 1 : Credit \n2 : Debit  \n")
    if v == "1" :
        print("Valid Entry")
        print("Your Current Account Balance is ",df1.loc[index,'A/c Balance'])
        if(df1.loc[index,'A/c Status']=="Active"):
            initial=df1.loc[index,'A/c Balance']
            amount=int(input("Enter the amount you want to Credit to the Account Balance \n"))
            df1.loc[index,'A/c Balance']+=amount
            print("Your New Account Balance is ",df1.loc[index,'A/c Balance'])
            print("Successful Transaction of Rs.%d completed"%(amount))
            export_excel = df1.to_excel (r'C:\\Users\\admin\\Downloads\\SITIP19-ACE-Python-FinalProject1-Workbook (1).xlsx',sheet_name='UserDetails')
            break
        else:
            
                    
            print("Cannot process your request as your account is blocked by the bank.Please contact the bank to resolve this issue")
            break
    elif v == "2":
        f=1
        while(f):
            
            print("Your Current Account Balance is ",df1.loc[index,'A/c Balance'])
            amount=int(input("Enter the amount you want to Debit to the Account Balance \n"))
            initial=df1.loc[index,'A/c Balance']
            if(amount>df1.loc[index,'A/c Balance']):
                print("Cannot debit the required amount.Insufficient balance.try Again")
            else:
                if(df1.loc[index,'A/c Status']=="Active"):
                    df1.loc[index,'A/c Balance']-=amount
                    print("Your New Account Balance is ",df1.loc[index,'A/c Balance'])
                    export_excel=df1.to_excel (r'C:\\Users\\admin\\Downloads\\SITIP19-ACE-Python-FinalProject1-Workbook (1).xlsx',sheet_name='UserDetails')
                    print("Successful Transaction of Rs.%d completed"%(amount))
                    f=0
                else:
                    f=0
                    
                    print("Cannot process your request as your account is blocked by the bank.Please contact the bank to resolve this issue")
        break
    
    else:
        print("Wrong Input Try Again !")
        print("You have ",3-i," tries left")
    if i == 3:
        print("You have exhausted your attempts! Your Account will be blocked. \nExiting Program!")
        block(index) 

df1

What transaction do you want to perform
 1 : Credit
2 : Debit
1
Valid Entry
Your Current Account Balance is  1004
Enter the amount you want to Credit to the Account Balance
12333
Your New Account Balance is  13337
Successful Transaction of Rs.12333 completed

,Unnamed: 0.1,Sr. No.,User Id,A/c No.,Full Name,User Email,A/c Balance,A/c Status
0,0,1,19091022001,2019091022IND0345,Shubham Vartak,shubhamvartak23@gmail.com,10000,Active
1,1,2,19091022002,2019091022IND0334,Sagar Sonawane,sonawanesagae2106@gmail.com,15000,Active
2,2,3,19091022003,2019091022IND1111,Advait Tare,advaitcr7@gmail.com,13337,Active
3,3,4,19091022004,2019091022IND1213,Mad boy rakesh,xyz@123.com,25000,Active
4,4,5,19091022005,2019091022IND1435,KL Rahul,xyz@123.com,30000,Active
5,5,6,19091022006,2019091022IND2342,Atharva Sapre,atharva2sapre@gmail.com,37400,Active
6,6,7,19091022007,2019091022IND5432,Cristiano Ronaldo,badebhaiyya@goat.com,40000,Active
7,7,8,19091022008,2019091022IND1265,Tushar Laddha,laddhatusshar@gmail.com,45000,Active
8,8,9,19091022009,2019091022IND6435,Ritviz,humtohuddgaye@bacardi.com,50000,Active
9,9,10,19091022010,2019091022IND0234,Chester Bennington,lp@123.com,55000,Active

In [12]:
###BONUS QUESTION: Print a proper mini-statement of the balance and display it. (2 points)
import datetime
current=datetime.datetime.now()

In [13]:
name=df1.loc[index,'Full Name']
no=df1.loc[index,'A/c No.']
bal=df1.loc[index,'A/c Balance']


if v=="2":
    print("--------------MINI STATEMENT--------------")
    print("\t\t\tTime and Date: {}".format(current.strftime("%c")))
    print("|Name:           |{}\t|".format(name))
    print("|Account Number: |{}\t|".format(no))
    print("|Initial Balance:|{} \t\t|".format(initial))
    print("|Amount debited: |{} \t\t|".format(amount))
    print("|Final Balance:  |{} \t\t|".format(bal))
    print("-----------------------------------------")
    print("THANK YOU ,HAVE A GREAT DAY")
else:
    print("--------------MINI STATEMENT--------------")
    print("\t\t\tTime and Date: {}".format(current.strftime("%c")))
    print("|Name:           |{}\t".format(name))
    print("|Account Number: |{}\t".format(no))
    print("|Initial Balance:|{} \t\t".format(initial))
    print("|Amount credited:|{} \t\t".format(amount))
    print("|Final Balance:  |{} \t\t".format(bal))
    print("-----------------------------------------")
    print("THANK YOU ,HAVE A GREAT DAY")

--------------MINI STATEMENT--------------
			Time and Date: Sat Jul 13 13:04:54 2019
|Name:           |Advait Tare
|Account Number: |2019091022IND1111
|Initial Balance:|1004
|Amount credited:|12333
|Final Balance:  |13337
-----------------------------------------
THANK YOU ,HAVE A GREAT DAY

In [23]:
df1

,Unnamed: 0.1,Sr. No.,User Id,A/c No.,Full Name,User Email,A/c Balance,A/c Status
0,0,1,19091022001,2019091022IND0345,Shubham Vartak,shubhamvartak23@gmail.com,10000,Active
1,1,2,19091022002,2019091022IND0334,Sagar Sonawane,sonawanesagae2106@gmail.com,15000,Active
2,2,3,19091022003,2019091022IND1111,Advait Tare,advaitcr7@gmail.com,604,Active
3,3,4,19091022004,2019091022IND1213,Mad boy rakesh,xyz@123.com,25000,Active
4,4,5,19091022005,2019091022IND1435,KL Rahul,xyz@123.com,30000,Active
5,5,6,19091022006,2019091022IND2342,Atharva Sapre,atharva2sapre@gmail.com,37400,Active
6,6,7,19091022007,2019091022IND5432,Cristiano Ronaldo,badebhaiyya@goat.com,40000,Active
7,7,8,19091022008,2019091022IND1265,Tushar Laddha,laddhatusshar@gmail.com,45000,Active
8,8,9,19091022009,2019091022IND6435,Ritviz,humtohuddgaye@bacardi.com,50000,Active
9,9,10,19091022010,2019091022IND0234,Chester Bennington,lp@123.com,55000,Active